#! /bin/sh
# .using xrandr set HDMI properly -> under/overscan
#sh ~/initxrandr.sh
#  turn laptop monitor off
#xrandr --output LVDS --off --output HDMI-0 --auto
#set keyboard slow
xset r rate 1000 5
setxkbmap -option caps:none
    
