:root,
:host {
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #281715;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #f2d3cf;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ee;
  --md-sys-color-surface-container: #ffe9e6;
  --md-sys-color-surface-container-high: #ffe2dd;
  --md-sys-color-surface-container-highest: #fadcd7;
  --md-sys-color-on-surface: #281715;
  --md-sys-color-surface-variant: #ffdad5;
  --md-sys-color-on-surface-variant: #5c403c;
  --md-sys-color-inverse-surface: #3e2c29;
  --md-sys-color-inverse-on-surface: #ffedea;
  --md-sys-color-outline: #906f6b;
  --md-sys-color-outline-variant: #e5bdb8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bb1614;
  --md-sys-color-primary: #a50007;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #dc3128;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffb4a9;
  --md-sys-color-secondary: #a23d32;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #ff9183;
  --md-sys-color-on-secondary-container: #520102;
  --md-sys-color-tertiary: #724700;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #a36800;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
}